.container {
  display: grid;
  grid-template-rows: 450px 1fr 1fr;
  grid-template-columns: minmax(400px, 500px);
  gap: 20px;
}

.names-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #F2E7AC;
}

.result-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #F2E7AC;
}
